<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bitshares_munich.smartcoinswallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.sensor.camera" android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="de.bitshares_munich.utils.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:configChanges="locale"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".AccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SendScreen"
            android:label="@string/send_screen_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".RecieveActivity"
            android:label="@string/rcv_screen_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RequestActivity"
            android:label="@string/request_amount_screen_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PaymentRecieved"
            android:label="@string/payment_rcvd_screen_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".qrcodeActivity"
            android:label="@string/qr_code_activity_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BrainkeyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ShareContact"
            android:label="@string/share_account_activity_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".eReceipt"
            android:label="@string/e_receipt_activity_name"
            android:screenOrientation="portrait"
            >

    </activity>
        <activity
            android:name=".AddEditContacts"
            android:label="@string/add_contact_activity_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ImportBackupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingActivity"
            android:label="@string/settings_activity_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ExistingAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BackupBrainkeyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".PinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <service android:name=".MediaService" />

    </application>

</manifest>